# Python
venv/
__pycache__/
*.pyc
*.pyo
.env

# Node
node_modules/
frontend/dist/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/


# Root level junk (accidental vite init)
/eslint.config.js
/index.html
/package.json
/package-lock.json
/vite.config.js
/src/
/public/
*.db